{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<title>{% block title %}{% endblock %} - NotiWeather</title>
	</head>
	<body>
		<div class="container">
			<div class="navbar navbar-default">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">NotiWeather</a>
				</div>
				<span class="navbar-text hidden-sm hidden-xs">
					<small>Weather-powered notifications</small>
				</span>
			</div>
		</div>
		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>
